# Week 2 Notes: Data Types and Indexing

## Numeric Data Types

 * integers
 * floating point numbers
 * complex numbers

We can use Python's ```type()``` function to determine the data type of a variable.

### Integers

Integers are whole numbers, negative, positive and zero. In Python integers are defined by using a whole number

In [1]:
a = 5
type(a)

int

In [2]:
b = -6
type(b)

int

In [3]:
c = 0
type(c)

int

### Floating Point Numbers

Floats or floating point numbers are decimal numbers. Floats can be represented by scientific notation. In Python floats are defined by a number with a decimal point ```.``` or by using ```e``` / ```E``` to write a number in scientific notation.

In [4]:
f = 1.03
type(f)

float

In [5]:
g = 6.02e23
type(g)

float

In [6]:
# define a whole number as a float- use a trailing decimal point
h = 5.
type(h)

float

In [7]:
# stings or other numeric data types can be converted to floats with Python's ```float()``` function.
k = 6
print(type(k))
l = float(k)
type(l)

<class 'int'>

float

### Complex Numbers

Complex Numbers at numbers which contain a real term and an imaginary term. In Python complex numbers are defined by a 

```
number + number j
```

The character ```j``` must be used. ```i``` does not define complex numbers in Python.

In [8]:
m = 5 + 2j
type(m)

complex

In [9]:
# complex numbers can be added/subtracted/multiplied/divided by integers and floats
m + 2

(7+2j)

In [10]:
m - 2.1

(2.9+2j)

## Boolean Data Type

The boolean data type can only be True or False. In Python ```True``` and ```False``` must be capitalized

In [11]:
p = True
type(p)

bool

In [12]:
q = False
type(q)

bool

### Boolean variables can be manipulated with Boolean logic

ex: AND OR NOT

In [13]:
p and q

False

In [14]:
p or q

True

In [15]:
not p

False

In [16]:
p or (not p and q)

True

In [17]:
p == q

False

In [18]:
p != q     #not equivalent to

True

In [19]:
# in some programming languages the pipe character is used for or, ~ is used for not. In Python these are "special operators"

In [20]:
p | q

True

In [21]:
~p

-2

In [22]:
# Other data types can be converted into Boolean values using the bool() function
r = 5
s = bool(r)
type(s)

bool

In [23]:
# both 0 and 0.0 and 0 + 0j return as False, all other numbers return as True
t = bool(0.0)
t

False

In [24]:
u = bool(0 + 0j)
u

False

## Container Data Types

Container data types contain one or more objects. In Python the container data types include:

 * Strings
 * Lists
 * Tuples
 * Dictionaries

### Strings

Strings are sequences of characters. Letters, numbers, spaces and punctuation. In Python, strings are defined with ```'  '``` or ```"    "```

In [25]:
u = 'Program'
type(u)

str

In [26]:
v = '5.1'
type(v)

str

In [27]:
v*3    # not multiplying a float

'5.15.15.1'

In [28]:
# Python's str() function converts other data types into strings
w = 7.2
x = str(w)
type(x)

str

In [29]:
# The empty string returns as False, all other other strings return as True
y = ''
bool(y)

False

In [30]:
# note the the space character is a character, not an empty string
z = ' '
bool(z)

True

In [31]:
s = 'line1 \n line2'  #\n adds a carrage return or new line to a string
print(s)

line1
 line2

In [32]:
# Triple quotes, also called Doc Strings, can be used to comment out large sections of code. 
# Spaces and new lines in Doc Strings are preserved

comment = """
A multi-line comment

with

lots

of 

lines

"""
print(comment)

A multi-line comment

with

lots

of

lines

In [33]:
# Unicode characters are defined with \u followed by a character code
print('Omega \u03A9')

Omega Ω

In [34]:
print('Delta (triangle) \u0394')

Delta (triangle) Δ

In [35]:
print('sigma \u03C3')

sigma σ

In [36]:
print('Theta \u03F4')

Theta ϴ

## Indexing and Slicing

Indexing is the process of pulling out or putting in a value to a container data type. Slicing is pulling out one or values from a container data type in a pattern

In Python, strings are indexed and sliced with square brackets ```[   ]```.

In [37]:
# example
s = 'Meeting Room'

In [38]:
s[0:7:1]
s[0:7]
s[:7]

'Meeting'

In [39]:
s[5:10:4]

'no'

In [40]:
s[4:6]

'in'

In [41]:
s[-4::1]

'Room'

In [42]:
s[3:0:-1]

'tee'

In [43]:
s[4]

'i'

In [44]:
s[4]+s[0:2:1]

'iMe'

In [45]:
s ='Shortish Phrase'

In [46]:
s[:5]

'Short'

In [47]:
s[2:4]

'or'

In [48]:
s[5]

'i'

In [49]:
s[-3]

'a'

In [50]:
s[4:7]

'tis'

In [51]:
s ='Ambiguous'

In [52]:
s[7:9]

'us'

In [53]:
s[2:5]

'big'

In [54]:
s[2::3]

'bus'

In [55]:
s[9:1:-3]

'sub'

In [56]:
s[4:7:2]

'go'

In [57]:
s[3]

'i'

In [58]:
s[0]

'A'

In [59]:
s[:2]

'Am'

In [60]:
s[-1:-4:-2]

'so'

In [61]:
s = 'like a glove'
s[10:-13:-5]

'val'

In [62]:
s[-2:-13:-5]

'val'

### Lists

Lists are a container data type in Python that can contain one or more different objects. In Python, lists are defined with ```[  ,   ,   ]```.

In [63]:
a = [1,2,3]
type(a)

list

In [64]:
b = ['one',2,3.0000]
type(a)

list

In [65]:
# A list can contain another list
a = ['one','two']
b = [0 , a ]
print(b)

[0, ['one', 'two']]

In [66]:
# Convert another data type to a list, use the list() function

In [67]:
d = 'pro'
e = list(d)
e

['p', 'r', 'o']

In [68]:
# the list.append() method add a value to the end of a list
f = [1,2,3]
f.append(4)
f

[1, 2, 3, 4]

In [69]:
g = [1,2]
h = [3,4]
j = g + h
j

[1, 2, 3, 4]

In [70]:
g.extend([3,4])
g

[1, 2, 3, 4]

In [71]:
# list.pop() removes the final item of a list

h = [1,2,3]
l = h.pop()
print(h)
l

[1, 2]

3

### List Indexing and slicing

Lists can be indexed and sliced with ```[  ]``` like strings can be indexed and sliced

In [72]:
k = ['one','two','three']
k[1]

'two'

In [73]:
k[0:3:2]
k[:3:2]

['one', 'three']

In [74]:
k

['one', 'two', 'three']

In [75]:
k[0][1]  # index a string out of a list

'n'

In [76]:
m = [[1,2],[3,4]]
m[1][0]

3

In [77]:
n = [1,2,3]

In [78]:
n[1]='two'   # use indexing to assign a value to a list
n

[1, 'two', 3]

In [79]:
n[3] ='four'  # can't index into an element that does not exhist
n

IndexError: list assignment index out of range

## Dictionary Data Type

The dictionary data type is a container data type that stores elements as key:value pairs. In Python, dictionaries are defined with:

```
dict = {key1:value1, key2:value}
```

In [80]:
d = {1:'one',2:'two'}
type(d)

dict

In [81]:
d[1]      # elements of a dictionary are accessed by indexing their keys

'one'

In [82]:
d[2]

'two'

In [83]:
d[2]='dos'
d

{1: 'one', 2: 'dos'}

In [84]:
d[3]='three'
d

{1: 'one', 2: 'dos', 3: 'three'}

In [85]:
last_el = d.pop(3)   # the .pop() method on a dictionary requires a key because dictionaries are not ordered (which is last?)
print(d)
last_el

{1: 'one', 2: 'dos'}

'three'

In [86]:
m = {1:'one',1:'uno'}  # keys in a dictionary must be unique
m

{1: 'uno'}

In [87]:
n = {1:'one',2:'one'} # values can be repeated
n

{1: 'one', 2: 'one'}

In [88]:
d = {0:'P', 1:'r', 2:'o'}
d[0]

'P'

In [89]:
s = 'Pro'
s[0]

'P'

In [90]:
d = {1:'one',2:'two',3:'three'}
f = d.keys()    # the .keys() method returns all of the keys stored in a dictionary
print(f)
print(type(f))        
g = list(f)     # if you want the keys in a list, you need to use the list() function
type(g)

dict_keys([1, 2, 3])
<class 'dict_keys'>

list

In [91]:
d.values()

dict_values(['one', 'two', 'three'])