# Lab 5 - Web API's

 * Peter Kazarinoff
 * ENGR114 Fall 2019
 * Oct 24, 2019

# Import the 4 fuctions from the 4 .py files

In [ ]:
from user_input import user_input
from call_API import call_API
from clean_data import clean_data
from plot_data import plot_data

# Call the 4 functions and pass data between them

In [ ]:
# User input function asks the user for input and it outputs what user enters
w_type, n_data_pts = user_input()

# Call API fuction pulls the data down from ThingSpeak.com

df_data = call_API(w_type, n_data_pts)

# Clean data function cleans up the data to create a 1D array of floats

array_data = clean_data(df_data, w_type)

# plot function builds a plot of the data

plot_data(array_data, w_type)

In [15]:
import pandas as pd
df = pd.read_csv('https://api.thingspeak.com/channels/12397/fields/6.csv?results=5')
df

                created_at  entry_id  field6
0  2019-10-24 22:55:15 UTC   2578665   29.99
1  2019-10-24 22:56:15 UTC   2578666   29.99
2  2019-10-24 22:57:15 UTC   2578667   29.99
3  2019-10-24 22:58:15 UTC   2578668   29.99
4  2019-10-24 22:59:15 UTC   2578669   29.99

In [16]:
df['field6']

0    29.99
1    29.99
2    29.99
3    29.99
4    29.99
Name: field6, dtype: float64

In [17]:
import numpy as np

a = np.array(df['field6'])
a

array([29.99, 29.99, 29.99, 29.99, 29.99])